<div *ngIf="statusRequest" class="message-alert-{{statusMessage}}">
  <mat-icon style="vertical-align: middle">
    {{statusMessage}}
  </mat-icon>
  {{message}}
  <a *ngIf="statusMessage === 'error'" style="text-decoration: none; color:white; " href="/config"><u>check the configuration</u></a>
</div>

<div>
  <table mat-table [dataSource]="results.indices" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="index_type">
      <th mat-header-cell *matHeaderCellDef> Index Type </th>
      <td mat-cell *matCellDef="let element"> {{element.index_type}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Link </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>


