<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <b style="text-decoration: none; cursor: pointer;"  [routerLink]="['/home']">OpenChart</b>

      <span class="icons-spacer"></span>
      <mat-search-bar></mat-search-bar>

      <button mat-icon-button [routerLink]="['/charts']">
        <mat-icon>bubble_chart</mat-icon>
      </button>

      <button mat-icon-button [routerLink]="['/records']">
        <mat-icon>list_alt</mat-icon>
      </button>

      <button mat-icon-button [routerLink]="['/graph']">
        <mat-icon>list</mat-icon>
      </button>

      <button mat-icon-button [routerLink]="['/about']">
        <mat-icon>info</mat-icon>
      </button>

      <button mat-icon-button [routerLink]="['/config']">
        <mat-icon>settings</mat-icon>
      </button>

    </mat-toolbar>

    <div style="background: white; padding: 50px;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>


</mat-sidenav-container>


