<div style="padding: 50px;">
  <form #formPanel="ngForm" autocomplete="off">


    <div class="form-group">
      <div class="input-field col s6">
        <i class="material-icons prefix">web</i>
        <input id="siteDomain" type="text" class="form-control" name="siteDomain" #siteDomain="ngModel"
               [(ngModel)]="settingsControl.siteDomain">
        <label [ngClass]="{'active': settingsControl.siteDomain}" for="siteDomain">Site Domain</label>
      </div>
    </div>

    <div class="form-group">
      <div class="input-field col s6">
        <i class="material-icons prefix">web</i>
        <input id="siteToken" type="text" class="form-control" name="siteToken" #siteToken="ngModel"
               [(ngModel)]="settingsControl.siteToken">
        <label [ngClass]="{'active': settingsControl.siteToken}" for="siteToken">Site Token</label>
      </div>
    </div>

    <div class="form-group">
      <button class=" btn mat-raised-button mat-accent" (click)="savePanel(formPanel)">
        Save Settings
      </button>
      &nbsp;&nbsp;
      <button class=" btn mat-raised-button mat-primary" (click)="testConnection()">
        Test Connection
      </button>
    </div>
  </form>

</div>


