/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.message-alert-disable{
  display: none;
}

.message-alert-warning{
  border: 1px black;
  margin: 20px;
  background: orange;
  padding: 10px;
}

.message-alert-info{
  border: 1px black;
  margin: 20px;
  background: deepskyblue;
  padding: 10px;
}

.message-alert-error{
  border: 1px black;
  margin: 20px;
  background: orangered;
  padding: 10px;
}
